<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link
    rel="preload"
    as="font"
    type="font/woff2"
    href="/assets/font/virgo.woff2"
    crossorigin
  />
  <link
    rel="preload"
    type="font/woff2"
    as="font"
    href="https://fonts.gstatic.com/s/nunito/v16/XRXW3I6Li01BKofAjsOUYevI.woff2"
    crossorigin
  />
  <link
    rel="preload"
    type="font/woff2"
    as="font"
    href="https://fonts.gstatic.com/s/nunito/v16/XRXW3I6Li01BKofA6sKUYevI.woff2"
    crossorigin
  />
  <link
    rel="preload"
    type="font/woff2"
    as="font"
    href="https://fonts.gstatic.com/s/nunito/v16/XRXV3I6Li01BKofINeaB.woff2"
    crossorigin
  />
  <link
    rel="preload"
    type="font/woff2"
    as="font"
    href="https://fonts.gstatic.com/s/nunito/v16/XRXQ3I6Li01BKofIMN44Y9vKUT8.woff2"
    crossorigin
  />
  <link
    rel="preload"
    type="font/woff2"
    as="font"
    href="https://fonts.gstatic.com/s/nunito/v16/XRXQ3I6Li01BKofIMN5cYtvKUT8.woff2"
    crossorigin
  />
  <link href="/assets/css/styles.css" rel="stylesheet" />
  <script src="https://js.stripe.com/v3/"></script>
  <script src="/assets/js/product.js" defer type="module"></script>
  <script src="/assets/js/payment.js" defer type="module"></script>
  <script src="/assets/js/hero.js" defer type="module"></script>
  <script src="/assets/js/cart.js" defer type="module"></script>
  <script src="/assets/js/menu.js" defer type="module"></script>
  <link rel="next" href="/cart/index.html" />
</head>
