<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link
    rel="preload"
    type="font/woff2"
    as="font"
    href="https://fonts.gstatic.com/s/nunito/v16/XRXW3I6Li01BKofAjsOUYevI.woff2"
    crossorigin
  />
  <link
    rel="preload"
    type="font/woff2"
    as="font"
    href="https://fonts.gstatic.com/s/nunito/v16/XRXW3I6Li01BKofA6sKUYevI.woff2"
    crossorigin
  />
  <link
    rel="preload"
    type="font/woff2"
    as="font"
    href="https://fonts.gstatic.com/s/nunito/v16/XRXV3I6Li01BKofINeaB.woff2"
    crossorigin
  />
  <link
    rel="preload"
    type="font/woff2"
    as="font"
    href="https://fonts.gstatic.com/s/nunito/v16/XRXQ3I6Li01BKofIMN44Y9vKUT8.woff2"
    crossorigin
  />
  <link
    rel="preload"
    type="font/woff2"
    as="font"
    href="https://fonts.gstatic.com/s/nunito/v16/XRXQ3I6Li01BKofIMN5cYtvKUT8.woff2"
    crossorigin
  />
  <link href="/assets/css/styles.css" rel="stylesheet" />
  <script src="https://js.stripe.com/v3/" defer></script>
  <script src="/assets/js/bundle.js" defer></script>

  <!-- Favicon -->
  <link rel="next" href="/cart/index.html" />
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
  <link rel="manifest" href="/site.webmanifest" />
  <!-- Primary Meta Tags -->
  <title>{{ page.title }}</title>
  <meta name="title" content="Zircus - For your thunder down under." />
  <meta
    name="description"
    content="Queer owned & sewn underwear from Vancouver Island."
  />

  <!-- Open Graph / Facebook -->
  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://zircus.netlify.app" />
  <meta property="og:title" content="Zircus - For your thunder down under." />
  <meta
    property="og:description"
    content="Queer owned & sewn underwear from Vancouver Island."
  />
  <meta property="og:image" content="/site.jpg" />

  <!-- Twitter -->
  <meta property="twitter:card" content="summary_large_image" />
  <meta property="twitter:url" content="https://zircus.netlify.app" />
  <meta
    property="twitter:title"
    content="Zircus - For your thunder down under."
  />
  <meta
    property="twitter:description"
    content="Queer owned & sewn underwear from Vancouver Island."
  />
  <meta property="twitter:image" content="/site.jpg" />
</head>
