<nav class="nav" id="nav">
  <div class="container">
    <div class="nav__nav">
      <h2 class="nav__heading">
        <a class="nav__heading_link" href="/">ZIRCUS</a>
      </h2>
      <div class="nav__mobile">
        <ul class="nav__mobile_items hide" id="menu-mobile-list">
          {% for item in site.data.nav %}
          <li class="nav__mobile_item">
            <a
              href="{{ item.link }}"
              id="{{ item.id }}-mobile"
              class="nav__mobile_item_link"
              >{{ item.name }}</a
            >
          </li>
          {% endfor %}
        </ul>
        <button id="menu-mobile-btn" class="nav__button" type="button">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="nav__button_bars"
          >
            <line x1="3" y1="12" x2="21" y2="12"></line>
            <line x1="3" y1="6" x2="21" y2="6"></line>
            <line x1="3" y1="18" x2="21" y2="18"></line>
          </svg>
        </button>
      </div>
      <div class="nav__desktop">
        <ul class="nav__desktop_items">
          {% for item in site.data.nav %}
          <li class="nav__desktop_item">
            <a
              class="nav__desktop_link"
              accesskey="{{ item.key }}"
              tabindex="{{ item.index }}"
              href="{{ item.link }}"
              id="{{ item.id }}"
              >{{ item.name }}</a
            >
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</nav>
