<style>
  .nav_heading {
    font-family: var(--accent-font-family) !important;
    letter-spacing: -5%;
    font-size: 2rem;
    font-style: normal;
    display: inline-block;
    z-index: 20;
    position: relative;
  }

  .nav_heading::after {
    content: "";
    position: absolute;
    right: -1.5rem;
    top: 0.35rem;
    color: var(--teal);
    background: var(--teal);
    width: 1.25rem;
    height: 1.25rem;
    border-radius: 100%;
  }

  .nav_heading a {
    padding: 0.25rem 0.25rem;
    margin-left: -0.25rem;
  }

  .nav_heading a,
  .nav_heading a:hover,
  .nav_heading a:visited,
  .nav_heading a:focus,
  .nav_heading a:visited:hover,
  .nav_heading:visited:focus {
    color: var(--light) !important;
    text-decoration: none;
  }
</style>

<h2 class="nav_heading">
  <a
    class="border-hover"
    href="{{ site.lang[page.lang]home_link_path }}"
    aria-label="{{ site.lang[page.lang]home_link }}"
    >{{ site.name }}</a
  >
</h2>
