<div class="nav_mobile">
  <ul class="nav_mobile_list hide" id="menu-mobile-list">
    {% for item in site.data.nav[page.lang] %}
    <li class="nav_mobile_list_link container">
      <a href="{{ item.link }}" id="{{ item.id }}-mobile">{{ item.name }}</a>
    </li>
    {% endfor %}
    <li class="nav_mobile_list_lang container">
      {% assign products=site.products | where:"ref", page.ref | sort:"lang" %}
      {% for product in products %}
      <a
        href="{{ product.url }}"
        class="
          {%
          if
          page.lang
          ==
          product.lang
          %}
          active
          {%
          endif
          %}
          small-spaced-bold
          border-hover
        "
        >{{ product.lang }}</a
      >
      {% endfor %} {% assign pages=site.pages | where:"ref", page.ref |
      sort:"lang" %} {% for link in pages %}
      <a
        href="{{ link.url }}"
        class="
          {%
          if
          page.lang
          ==
          link.lang
          %}
          active
          {%
          endif
          %}
          small-spaced-bold
          border-hover
        "
        >{{ link.lang }}</a
      >
      {% endfor %}
    </li>
  </ul>
  {% include nav_mobile_button.html %}
</div>
