<div class="nav_desktop">
  <ul class="nav_desktop_links">
    {% for item in site.data.nav[page.lang] %}
    <li>
      <a
        class="small-spaced-bold border-hover nav_desktop_link"
        href="{{ item.link }}"
        id="{{ item.id }}"
        >{{ item.name }}</a
      >
    </li>
    {% endfor %}
  </ul>
  <ul class="nav_desktop_lang">
    {% assign products=site.products | where:"ref", page.ref | sort:"lang" %} {%
    for product in products %}
    <li>
      <a
        href="{{ product.url }}"
        class="
          {%
          if
          page.lang
          ==
          product.lang
          %}
          active
          {%
          endif
          %}
          small-spaced-bold
          border-hover
        "
        >{{ product.lang }}</a
      >
    </li>
    {% endfor %} {% assign pages=site.pages | where:"ref", page.ref |
    sort:"lang" %} {% for link in pages %}
    <li>
      <a
        href="{{ link.url }}"
        class="
          {%
          if
          page.lang
          ==
          link.lang
          %}
          active
          {%
          endif
          %}
          small-spaced-bold
          border-hover
        "
        >{{ link.lang }}</a
      >
    </li>
    {% endfor %}
  </ul>
</div>
