<style>
  .nav_button {
    position: fixed;
    background: var(--dark);
    border: 2px solid transparent;
    border-radius: var(--radius);
    outline: none;
    top: 0.5rem;
    height: 3rem;
    width: 3rem;
    padding: 0.5rem;
    right: calc(var(--x-padding) - 0.6rem);
    cursor: pointer;
    z-index: 50;
  }

  .nav_button:hover {
    border-color: var(--teal);
  }

  .nav_button svg {
    color: var(--light);
    height: 100%;
    width: 100%;
  }
</style>

<button id="menu-mobile-btn" class="nav_button" type="button">
  <svg
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 24 24"
    fill="none"
    stroke="currentColor"
    stroke-width="2"
    stroke-linecap="round"
    stroke-linejoin="round"
  >
    <line x1="3" y1="12" x2="21" y2="12"></line>
    <line x1="3" y1="6" x2="21" y2="6"></line>
    <line x1="3" y1="18" x2="21" y2="18"></line>
  </svg>
</button>
