<zircus-stripe id="stripe-payment-modal" class="stripe-payment-modal">
  <div class="container">
    <form id="stripe-payment-form" class="stripe-payment-form">
      <div class="stripe-payment-form-heading-container">
        <h2 class="stripe-payment-form-heading">
          <span>{{ page.label_card_details }}</span>
          <span id="payment-price"></span>
        </h2>
      </div>
      <div id="card-element" class="stripe-payment-form-card">
        <!--Stripe.js injects the Card Element-->
      </div>
      <div class="stripe-payment-form-buttons">
        <button id="pay-button" class="btn__primary btn">
          <div class="spinner hidden" id="spinner"></div>
          <span id="pay-button-text">{{ page.label_pay_now }}</span>
        </button>
        <button id="cancel" class="btn btn__secondary">
          {{ page.label_cancel }}
        </button>
        <p id="card-error" class="error hidden" role="alert">
          {{ page.label_failure_message }}
        </p>
        <p id="result-message" class="result-message hidden">
          {{ page.label_success_message }}
        </p>
      </div>
    </form>
  </div>
</zircus-stripe>
