@keyframes fadeIn {
  0% {
    z-index: 0;
    opacity: 0;
  }

  100% {
    z-index: 0;
    opacity: 1;
  }
}

@keyframes slowPulse {
  0% {
    color: var(--dark);
  }

  50% {
    color: var(--gray-90);
  }

  100% {
    color: var(--dark);
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(10%);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes moveDown {
  0% {
    transform: translateY(-1rem);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@-webkit-keyframes loading {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes loading {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
