.btn {
  @include smallSpacedBold();
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 var(--btn-padding);
  height: var(--btn-height);
  background: var(--gray-20);
  border-radius: var(--radius);
  border: 2px solid var(--dark);
  color: var(--dark);
  outline: none;
  font-family: var(--site-font-family);
  cursor: pointer;
  position: relative;
  z-index: 1;
  overflow: hidden;
  min-width: fit-content;

  &__primary {
    background-color: var(--gold);
  }

  &:focus,
  &:hover {
    background-color: var(--teal);
  }

  &:disabled {
    background: var(--gray-30);
    border-color: var(--gray-50) !important;
    color: var(--dgray-60) !important;
    cursor: not-allowed;
  }

  &:disabled:after {
    content: unset;
  }

  &:disabled:before {
    background: unset;
  }
}

.btn__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  background: none;
  background-color: transparent;
  color: var(--light);
  cursor: pointer;
  @include borderHover();

  svg {
    color: var(--light);
  }
}

.input {
  @include smallSpaced();
  height: var(--btn-height);
  padding: 0 var(--input-padding);
  border-radius: var(--radius);
  border: 2px solid var(--dark);
  background-color: var(--gray-05);
  font-family: var(--site-font-family);
  min-width: 4rem;

  &:hover,
  &:focus,
  &:active,
  &:focus-within,
  &:focus-visible {
    border-color: var(--teal) !important;
    outline: none;
  }

  &:disabled {
    background: var(--lgrey);
    border-color: var(--grey) !important;
    cursor: not-allowed;
  }

  &:required:valid {
    position: relative;
    border-color: var(--green);
  }

  &:required:invalid {
    border-color: var(--red);
  }

  &__textarea {
    resize: none;
    padding: var(--input-padding);
    border: 2px solid var(--dark);
    border-radius: var(--radius);
    font-size: var(--small-font-size);
    letter-spacing: var(--letter-spacing);
    font-family: var(--site-font-family);
    outline: none;

    &:hover,
    &:focus,
    &:active,
    &:focus-within,
    &:focus-visible {
      border-color: var(--teal);
    }
    &:disabled {
      background: var(--lgrey);
      border-color: var(--grey) !important;
      cursor: not-allowed;
    }

    &:invalid {
      border-color: var(--red);
    }
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: none;
}

select {
  padding-right: 1.5rem !important;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAh0lEQVQ4T93TMQrCUAzG8V9x8QziiYSuXdzFC7h4AcELOPQAdXYovZCHEATlgQV5GFTe1ozJlz/kS1IpjKqw3wQBVyy++JI0y1GTe7DCBbMAckeNIQKk/BanALBB+16LtnDELoMcsM/BESDlz2heDR3WePwKSLo5eoxz3z6NNcFD+vu3ij14Aqz/DxGbKB7CAAAAAElFTkSuQmCC");
  background-repeat: no-repeat;
  background-position: calc(100% - var(--input-padding)) center;
}
