.btn {
  padding: var(--btn-padding);
  border-radius: var(--radius);
  border: 2px solid var(--dark);
  color: var(--dark);
  font-family: var(--mf);
  font-size: 0.9rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
  cursor: pointer;
  outline: none;

  &__primary {
    background: var(--dark);
    color: var(--light);
  }

  &:hover,
  &:focus {
    background: var(--gold);
    border-color: var(--gold);
    color: var(--dark);
    @include easeOut();
  }
}

.input {
  padding: var(--btn-padding);
  border-radius: var(--radius);
  border: 2px solid var(--dark);
  background-color: var(--light);
  font-size: 0.9rem;
  letter-spacing: 0.1rem;
  min-width: 4rem;

  &:hover,
  &focus {
    border-color: var(--gold);
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

select {
  padding-right: 1.5rem !important;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAh0lEQVQ4T93TMQrCUAzG8V9x8QziiYSuXdzFC7h4AcELOPQAdXYovZCHEATlgQV5GFTe1ozJlz/kS1IpjKqw3wQBVyy++JI0y1GTe7DCBbMAckeNIQKk/BanALBB+16LtnDELoMcsM/BESDlz2heDR3WePwKSLo5eoxz3z6NNcFD+vu3ij14Aqz/DxGbKB7CAAAAAElFTkSuQmCC');
  background-repeat: no-repeat;
  background-position: 95% center;
}
