.cart {
  &__product {
    padding: 1rem 0;
    @include res("md") {
      @include flexRow();
    }
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    max-width: 100vw;
    border-bottom: 2px solid var(--gray-30);

    &_image {
      object-fit: contain;
      display: block;
      max-height: 4rem;
    }

    zircus-router-link {
      flex-grow: 1;
    }

    &_flexcon {
      display: flex;
      gap: 1rem;
      align-items: center;
      position: relative;
      outline: none;
      color: var(--dark) !important;

      &:hover,
      &:focus {
        text-decoration: none !important;
        color: var(--dark);

        p {
          border-color: var(--teal);
        }
      }

      &::before {
        content: "";
        position: absolute;
        top: calc(50% - 0.75rem);
        border-radius: 100%;
        left: -1.5rem;
        width: 1rem;
        height: 1rem;
        background-color: transparent;
      }

      &:hover::before,
      &:focus::before {
        background-color: var(--teal);
      }

      p {
        margin-bottom: 0;
        padding: var(--base-unit);
        border: 2px solid transparent;
        border-radius: var(--radius);
      }
    }

    &_inputs {
      display: flex;

      label {
        span {
          position: absolute;
          height: 0;
          width: 0;
          visibility: hidden;
        }
      }
      @include res("md") {
        max-width: 25vw;
      }
      @include res("sm") {
        max-width: 40vw;
      }
      display: flex;
      gap: 1rem;
    }

    &_price {
      font-size: var(--medium-font-size);
      font-weight: 600;
      letter-spacing: 0.1rem;
      display: flex;
      align-items: center;
    }
  }

  &__total {
    @include flexRow();
    width: 100%;
    justify-content: flex-end;
    padding: 2rem 0;

    &_prices {
      text-align: right;
      .text {
        margin-right: var(--base-spacing);
      }
    }

    &_price {
      @include flexRow();

      &_item {
        flex-grow: 1;
        margin-left: 2.5rem;
      }
    }
  }

  &__buttons {
    @include flexRow();
    justify-content: flex-end;
    gap: 1rem;
    a {
      text-decoration: none !important;
      color: var(--dark) !important;
    }
  }
}

.cart-padding {
  padding-top: 8rem;
}
