.cart {
  &__product {
    @include fadeIn(0.1s);
    padding: 1rem 0;
    @include res("md") {
      @include flexRow();
    }
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    max-width: 100vw;
    border-top: 2px solid var(--dark);

    &_image {
      object-fit: contain;
      display: block;
      max-height: 4rem;
    }

    &_flexcon {
      flex-grow: 1;
      display: flex;
      gap: 1rem;
      align-items: center;
      position: relative;

      &::before {
        content: "";
        position: absolute;
        top: calc(50% - 0.75rem);
        border-radius: 100%;
        left: -1.5rem;
        width: 1rem;
        height: 1rem;
        background-color: var(--light);
      }

      &:hover::before {
        background-color: var(--teal);
      }

      p {
        margin-bottom: 0;

        &::after {
          content: "";
        }
      }
    }

    &_inputs {
      @include res("md") {
        max-width: 25vw;
      }
      @include res("sm") {
        max-width: 40vw;
      }
      display: flex;
      gap: 1rem;
    }

    &_quantity {
      font-size: 0.9rem;
      font-weight: 600;
      letter-spacing: 0.1rem;
      display: flex;
      align-items: center;
    }
  }

  &__total {
    @include flexRow();
    width: 100%;
    justify-content: flex-end;
    padding: 2rem 0;

    &_prices {
      text-align: right;
    }

    &_price {
      @include flexRow();
      margin-top: 0.5rem;

      &_item {
        flex-grow: 1;
        margin-left: 3rem;
      }
    }
  }

  &__buttons {
    @include flexRow();
    @include res("sm") {
      justify-content: flex-end;
    }
    gap: 1rem;
  }
}

.cart-padding {
  padding-top: 8rem;
}
