.cart {
  padding: 0 var(--side-padding) 10rem var(--side-padding);

  &__product_description {
    padding: 0 2rem;
  }

  &__product {
    @include fadeIn(0.25s);
    padding: 1rem 0;
    display: flex;
    @include res("md") {
      flex-flow: row nowrap;
    }
    flex-flow: row wrap;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    max-width: 100vw;
    border-top: 2px solid var(--dark);

    &_image {
      object-fit: contain;
      display: block;
      max-height: 4rem;
    }

    &_inputs {
      @include res("md") {
        max-width: 25vw;
      }
      @include res("sm") {
        max-width: 40vw;
      }
      display: flex;
      gap: 1rem;
    }

    &_quantity {
      font-size: 0.9rem;
      font-weight: 600;
      letter-spacing: 0.1rem;
      display: flex;
      align-items: center;
    }

    &_checkout {
      display: flex;
      justify-content: flex-end;
      max-width: 100vw;
    }
  }

  &__total {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 2rem 0;

    &_prices {
      text-align: right;
    }

    &_price {
      display: flex;
      flex-flow: row nowrap;
      margin-top: 0.5rem;

      &_item {
        flex-grow: 1;
        margin-left: 3rem;
      }
    }
  }
}
