.checkout {
  padding-top: var(--top-padding);
}

.form {
  display: grid;
  @include res("md") {
    grid-template-columns: repeat(2, 1fr);
  }
  grid-template-columns: 1fr;
  gap: var(--two-col-gap);

  label {
    @media screen and (max-width: 445px) {
      flex-flow: column nowrap;
    }
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;

    span {
      background: var(--teal);
      padding: var(--btn-padding);
      border-top-left-radius: var(--radius);
      border-bottom-left-radius: var(--radius);
      color: var(--dark);
      font-weight: 600;
      letter-spacing: 0.1rem;
      font-size: 0.9rem;
      @media screen and (max-width: 445px) {
        display: none;
      }
    }

    input {
      @media screen and (max-width: 445px) {
        width: 100%;
      }
      flex-grow: 1;
      @include res("sm") {
        flex-grow: unset;
      }
    }

    .min-w-15 {
      @include res("sm") {
        min-width: 15rem;
      }
    }

    .min-w-10 {
      max-width: 7rem;
    }
  }
}

.checkout {
  &__button {
    padding-top: 2rem;
    display: flex;
    justify-content: flex-end;
  }

  &__total {
    display: flex;
    justify-content: flex-end;
  }

  &__address {
    background: var(--dark);
    border-radius: var(--big-radius);
    color: var(--light);
    @include res("sm") {
      padding: 4rem;
    }
    padding: 2rem;
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-end;
    gap: 1rem;
  }
}
