.checkout {
  width: 100%;

  .form {
    display: grid;
    @include res("md") {
      grid-template-columns: repeat(2, 1fr);
    }
    grid-template-columns: 1fr;
    gap: var(--two-col-gap);

    .hide-sm {
      display: none;
      @include res("md") {
        display: block;
      }
    }

    label {
      @media screen and (max-width: 445px) {
        flex-flow: column nowrap;
      }
      display: flex;
      align-items: center;
      justify-content: flex-end;
      width: 100%;

      span {
        @include res("sm") {
          padding: 0.625rem var(--btn-padding);
        }
        background: var(--teal);
        padding: 0.625rem;
        border-top-left-radius: var(--radius);
        border-bottom-left-radius: var(--radius);
        color: var(--dark);
        font-weight: 600;
        letter-spacing: 0.1rem;
        font-size: 0.9rem;
        @media screen and (max-width: 445px) {
          width: 100%;
          border-top-left-radius: var(--radius);
          border-top-right-radius: var(--radius);
          border-top: 2px solid var(--dark);
          border-left: 2px solid var(--dark);
          border-right: 2px solid var(--dark);
          border-bottom-left-radius: 0;
          border-bottom-width: 0;
        }
      }

      input, select {
        @media screen and (max-width: 445px) {
          width: 100%;
          border-top-left-radius: 0 !important;
          border-top-right-radius: 0 !important;
        }
        flex-grow: 1;
        @include res("sm") {
          flex-grow: unset;
        }
      }
    }
  }

  &__button {
    display: flex;
    justify-content: flex-end;
  }

  &__total {
    display: flex;
    justify-content: flex-end;
  }

  &__address {
    @media screen and (max-width: 445px) {
      background: none;
      padding: 0;
    }
    background: var(--dark);
    border-radius: var(--big-radius);
    color: var(--light);
    @include res("sm") {
      padding: 4rem;
    }
    padding: 2rem;
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-end;
    gap: 1rem;

    &_heading {
      font-size: 2rem;
    }
  }
}

datalist {
  max-height: 20rem;
}

.min-w-15 {
  @include res("sm") {
    min-width: 15rem;
  }
}

.min-w-18 {
  @include res("sm") {
    min-width: 18rem;
  }
}

.max-w-10 {
  max-width: 12rem;
}
