.checkout {
  width: 100%;

  form {
    display: flex;
    flex-flow: row wrap;
    gap: var(--two-col-gap);
  }

  &__inputs {
    flex-basis: 35%;
    flex-grow: 1;
    display: flex;
    flex-flow: row wrap;
    gap: var(--base-spacing);

    .max-w-10 {
      max-width: 10rem;
    }

    .address {
      flex-grow: 1;
      max-width: 35wv;
    }

    zircus-shipping-inputs {
      flex-grow: 1;
      flex-basis: 16rem;
    }  
  }

  &__products__container {
    flex-basis: 20rem;
    flex-grow: 1;
    flex-shrink: 1;
    display: flex;
    flex-flow: row wrap;

    @include res('lg') {
      flex-flow: column nowrap;
    }
  }

  &__products {
    margin-bottom: var(--base-spacing);
    flex-grow: 1;
  }

  &__button {
    margin-top: var(--base-spacing);
    display: flex;
    justify-content: flex-end;
  }

  &__total {
    display: flex;
    justify-content: flex-end;
  }
}
