.faq__list {
  display: flex;
  flex-flow: column nowrap;
  gap: 1rem;

  ul {
    margin-bottom: 1rem;
  }
  li {
    margin-bottom: 0.5rem;
  }
}

details {
  border: 2px solid var(--gray-30);
  border-radius: var(--radius);
  padding: 1rem 1rem 0;

  &:hover {
    border-color: var(--teal);
  }
}

details[open] {
  padding: 1rem;
}

details[open] summary {
  border-bottom: 2px solid var(--gray-30);
  margin-bottom: 1rem;
}

summary {
  margin: -1rem -1rem 0;
  padding: 0.5em;
  color: var(--dark);
  user-select: none;

  &:hover {
    color: var(--teal);
  }

  &:focus {
    outline-color: var(--teal);
  }

  span {
    font-weight: 600;
    cursor: pointer;
    color: var(--dark);
  }
}
