.footer {
  margin-top: auto;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--two-col-gap);
  padding: 5rem 0;

  &__container {
    display: flex;
    align-items: flex-end;
    width: 100%;
    justify-content: center;
  }

  &__heading {
    font-size: 1.25rem;
    font-family: var(--af);
    padding-bottom: 0.75rem;
    margin-bottom: 0.75rem;
    border-bottom: 1px solid var(--light);
    display: inline-block;
  }

  &__text {
    font-size: 0.9rem;
    line-height: 1.2;
    max-width: 20rem;
    margin-bottom: 0;
  }

  &__right {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end;
    align-items: flex-end;
  }

  &__links {
    display: flex;
    flex-flow: column nowrap;
    gap: 1rem;
    margin-right: -0.25rem;

    &_link {
      text-align: right;

      a {
        outline: none;
        padding: 0.25rem;
        border: 2px solid transparent;
        border-radius: var(--radius);
        color: var(--light);

        &:hover,
        &:focus {
          outline: none;
          border-color: var(--teal);
          text-decoration: none;
        }
      }
    }
  }

  &__social {
    display: flex;
    font-size: 0.9rem;
    font-weight: 600;
    line-height: 1.2;
    margin-right: -0.5rem;
    margin-top: 1.5rem;
    margin-bottom: -0.5rem;

    &_button {
      display: flex;
      justify-content: center;
      align-items: center;
      outline: none;
      margin-left: 0.75rem;
      padding: 0.5rem;
      border: 2px solid var(--dark);
      border-radius: var(--radius);
      background: none;
      color: var(--light);
      cursor: pointer;
      position: relative;

      &:hover,
      &:focus {
        border-color: var(--teal);
      }
    }

    &_icon {
      width: 1.2rem;
    }
  }
}
