// Footer
.footer {
  display: grid;
  grid-template-columns: 1fr;
  @include res("sm") {
    grid-template-columns: 1fr 1fr;
  }
  gap: var(--two-col-gap);
  padding: var(--y-padding) 0;

  &__container {
    margin-bottom: var(--y-padding);

    hr {
      border-color: var(--dgray-60);
    }
  }

  h4 {
    font-family: var(--accent-font-family) !important;
    font-weight: 400;
    padding-bottom: var(--base-spacing);
    padding-top: var(--base-unit);
    border-bottom: 2px solid var(--dgray-60);
    display: inline-block;
  }

  p {
    font-size: var(--small-font-size);
  }

  .right {
    flex-basis: 28rem;
    flex-grow: 1;
    flex-shrink: 1;
    @include res("md") {
      margin-left: auto;
      max-width: 28rem;
    }
  }

  .left {
    flex-basis: 16rem;
    flex-grow: 1;
    @include res("md") {
      max-width: 16rem;
    }
  }

  &__payment {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: var(--base-spacing);

    svg {
      max-width: 3rem;
      height: 100%;
      width: 100%;
    }
  }

  &__misc {
    display: flex;
    flex-flow: row wrap;
    gap: var(--base-unit) var(--base-spacing);
    width: 100%;
    justify-content: center;
    margin-top: var(--base-unit);

    &__link {
      color: var(--light) !important;
      padding: var(--base-unit);
      @include borderHover();
    }
  }
}

// Footer links
.footer_links {
  display: flex;
  flex-flow: row wrap;
  gap: var(--base-unit) var(--base-spacing);
  margin-right: -0.325rem; // lining up with edge

  @include res("sm") {
    justify-content: flex-end;
    gap: var(--base-spacing);
  }

  a {
    color: var(--light) !important;
    padding: var(--base-unit);
  }

  a:hover,
  a:focus,
  a:visited,
  a:visited:hover {
    color: var(--light);
  }
}

// Footer social links
.footer_social {
  display: flex;
  align-items: center;
  @include res("sm") {
    justify-content: flex-end;
  }
  font-size: 0.9rem;
  font-weight: 600;
  line-height: 1.2;
  margin-top: var(--md-spacing);
  gap: var(--base-unit);
  margin-right: -0.325rem; // lining up with edge

  &_icon {
    height: var(--base-spacing);
    width: var(--base-spacing);
    color: var(--light);
  }

  a {
    color: var(--light);
  }
}

// Footer lang links
.footer_lang {
  display: flex;
  align-items: center;
  gap: var(--base-unit);

  a {
    padding: var(--base-unit);
    color: var(--gray-90) !important;
  }

  a.active {
    color: var(--light) !important;
  }
}
