// Set default font-size
html {
  @include res("xl") {
    font-size: 22px;
  }
  box-sizing: border-box;
}

hr {
  border: 0 solid var(--gray-30);
  @include res("sm") {
    width: 33%;
  }
  width: 100%;
  border-top-width: 2px;
  margin: var(--base-spacing) auto;
  padding: 0;
}

address {
  border-left: var(--base-unit) solid var(--gray-30);
  padding-left: var(--base-unit);
}

kbd {
  background-color: var(--gray-30);
  padding: calc(var(--base-unit) / 2);
  border-radius: var(--radius);
}

details + details {
  margin-top: var(--base-spacing);
}

details {
  border: 2px solid var(--gray-30);
  border-radius: var(--radius);
  padding: 1rem 1rem 0;
  max-width: 75ch;

  &:hover {
    border-color: var(--teal);
  }

  p {
    margin-bottom: 0;
  }
}

details[open] {
  padding: 1rem;
}

details[open] summary {
  border-bottom: 2px solid var(--gray-30);
  margin-bottom: 1rem;
}

summary {
  margin: -1rem -1rem 0;
  padding: 0.5em;
  color: var(--dark);
  user-select: none;

  &:hover {
    color: var(--teal);
  }

  &:focus {
    outline-color: var(--teal);
  }

  span {
    font-weight: 600;
    cursor: pointer;
    color: var(--dark);
  }
}

fieldset {
  border: 2px solid var(--gray-30);
  background-color: var(--gray-20);
  border-radius: var(--radius);
  padding: var(--base-spacing);

  .grid-inputs {
    @include res("sm") {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: var(--base-spacing);
      gap: var(--base-spacing);
    }
  }

  .flex-inputs {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-end;
    gap: var(--base-spacing);

  }
}

input[type="radio"] {
  outline-color: var(--teal);
  margin: var(--base-unit);
  padding: var(--base-unit);
}

legend {
  @include smallSpacedBold();
}

label.column {
  display: flex;
  flex-flow: column nowrap;

  span {
    height: 1.5rem;
    @include smallSpacedBold();
  }
}

label.row {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: var(--base-unit);

  span {
    @include smallSpacedBold();
  }
}

body {
  @include set-site-font-family();
  @include font-smoothing();
  @include flexCol();
  font-size: var(--default-font-size);
  line-height: var(--doc-line-height);
  justify-content: flex-start;
  align-items: center;
  max-width: 100vw;
  background: var(--dark);
  color: var(--light);
  font-family: var(--site-font-family);
  min-height: 100vh;
  scrollbar-width: thin;
  scrollbar-color: var(--grey) var(--lgrey);
}

img {
  height: auto;
}

// Links inherit color by default, no underline
a {
  color: var(--link);
  text-decoration: none;
  font-weight: 500;
  outline-color: var(--teal);

  &:hover,
  &:focus {
    color: var(--link-hover);
    text-decoration: underline;
  }

  &:visited {
    color: var(--link-visited);

    &:hover,
    &:focus {
      color: var(--link-visited--hover);
    }
  }

  code {
    text-decoration-skip-ink: none;
  }
}

blockquote {
  padding-left: 1rem;
  border-left: 0.5rem solid var(--lgrey);
  line-height: 1.2;
  margin-bottom: 1rem;
  font-size: 1.1rem;
}

.container {
  margin: 0 auto;
  padding: 0 var(--x-padding);
  width: 100%;
  @include res("md") {
    width: 95%;
  }
  @include res("lg") {
    width: 90%;
  }
  @include res("xl") {
    width: 85%;
  }
  @include res("xxl") {
    width: 75%;
  }
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(18, 18, 19, 0.3);
  box-shadow: inset 0 0 6px rgba(18, 18, 19, 0.3);
  background-color: var(--lgrey);
}

::-webkit-scrollbar {
  width: 0.4rem;
  background-color: var(--lgrey);
}

::-webkit-scrollbar-thumb {
  background-color: var(--grey);
}

.roman-list {
  list-style: lower-roman outside;
  margin-left: 2rem;
  margin-bottom: 1rem;
  font-size: 1.1rem;

  li {
    margin-top: 0.5rem;
    line-height: 1.2rem;
  }
}

.dot {
  @include dot();
}

.icon {
  width: var(--base-spacing);
  height: var(--base-spacing);
}
