// General helper classes
.bold {
  font-weight: 600;
}

.grey {
  color: var(--grey);
}
.bg-grey {
  background-color: var(--grey);
}

.lgrey {
  color: var(--lgrey);
}
.bg-lgrey {
  background-color: var(--lgrey) !important;
}

.light {
  color: var(--light);
}
.bg-light {
  background-color: var(--gray-20);
}

.red {
  color: var(--red);
}

.green {
  color: var(--green);
}

.dark {
  color: var(--dark) !important;

  svg {
    color: var(--dark) !important;
  }
}
.bg-dark {
  background-color: var(--dark) !important;
}

.gold {
  color: var(--gold);
}
.bg-gold {
  background-color: var(--gold);
}

.teal {
  color: var(--teal);
}
.bg-teal {
  background-color: var(--teal);
}

.purple {
  color: var(--purple);
}
.bg-purple {
  background-color: var(--purple);
}

.underline {
  text-decoration: underline;
}

.flex-grow {
  flex-grow: 1;
}

.flex-col {
  @include flexCol();
  justify-content: flex-end;
}

.rounded-big-top {
  width: 100%;
  height: var(--big-radius);
  border-top-left-radius: var(--big-radius);
  border-top-right-radius: var(--big-radius);
}

.rounded-big-bottom {
  width: 100%;
  height: var(--big-radius);
  border-bottom-left-radius: var(--big-radius);
  border-bottom-right-radius: var(--big-radius);
}

.hide-y {
  overflow-y: hidden;

  @include res("md") {
    padding-right: calc(var(--base-spacing) + 10px);
  }
  @include res("lg") {
    padding-right: calc(var(--md-spacing) + 10px);
  }
}

.absolute {
  position: absolute;
}

.b-0 {
  bottom: 0;
}

.l-0 {
  left: 0;
}

.t-0 {
  top: 0;
}

.r-0 {
  right: 0;
}

.inset-0 {
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.mb-lg {
  margin-bottom: var(--y-padding) !important;
}

.mr-1 {
  margin-right: var(--base-unit);
}

.hidden {
  display: none !important;
}

.bordered-image {
  padding: var(--base-unit);
  border: 0.2rem solid var(--dark);
  border-radius: calc(var(--big-radius) + var(--base-unit));

  img {
    border-radius: var(--big-radius);
  }
}

.border-hover {
  @include borderHover();
}

.border-hover-big {
  @include borderHoverBig();
}

.small-spaced-bold {
  font-weight: 600;
}

.small-spaced {
  font-weight: 600;
}
