// General helper classes
.bold {
  font-weight: 600;
}

.grey {
  color: var(--grey);
}
.bg-grey {
  background-color: var(--grey);
}

.lgrey {
  color: var(--lgrey);
}
.bg-lgrey {
  background-color: var(--lgrey)
}

.light {
  color: var(--light);
}
.bg-light {
  background-color: var(--light);
}

.dark {
  color: var(--dark);
}
.bg-dark {
  background-color: var(--dark);
}

.gold {
  color: var(--gold);
}
.bg-gold {
  background-color: var(--gold);
}

.teal {
  color: var(--teal);
}
.bg-teal {
  background-color: var(--teal);
}

.purple {
  color: var(--purple);
}
.bg-purple {
  background-color: var(--purple);
}

.underline {
  text-decoration: underline;
}

.flex-grow {
  flex-grow: 1;
}

.flex-col {
  @include flexCol();
  justify-content: flex-end;
}

.rounded-big-top {
  width: 100%;
  height: 4rem;
  border-top-left-radius: var(--big-radius);
  border-top-right-radius: var(--big-radius);
}

.rounded-big-bottom {
  width: 100%;
  height: 4rem;
  border-bottom-left-radius: var(--big-radius);
  border-bottom-right-radius: var(--big-radius);
}

.hide-y {
  overflow-y: hidden;
}

.absolute {
  position: absolute;
}

.b-0 {
  bottom: 0;
}

.l-0 {
  left: 0;
}

.t-0 {
  top: 0;
}

.r-0 {
  right: 0;
}

.inset-0 {
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
