// Home page styling
.home {
  &__products {
    padding-top: var(--y-padding) !important;
    display: flex;
    gap: var(--base-spacing);
    flex-flow: row wrap;
    justify-content: center;
    @include res("lg") {
      justify-content: space-evenly;
    }

    &_product {
      flex-basis: 18rem;
      flex-shrink: 1;
      display: flex;
      @include headings-common-base();

      &_link {
        display: flex;
        color: var(--dark) !important;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: flex-start;
        padding: var(--base-spacing);
        @include borderHoverBig();
      }

      &_text {
        margin-top: var(--md-spacing);
        font-size: var(--medium-font-size);
        text-align: center;
      }

      & img {
        object-fit: contain;
        width: 100%;
        box-sizing: border-box;
      }
    }
  }
}

.section__text {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  padding: calc(var(--radius) + var(--y-padding)) 0 var(--y-padding) 0;
  position: relative;
  @include roundedBigTop();

  &_heading {
    @include res("md") {
      text-align: left;
    }
    text-align: center;
  }
}
