// Home page styling
.home {
  &__heading {
    margin: auto;
    padding: var(--base-spacing) 0;
    @include res('sm') {
      padding: var(--md-spacing) 0 ;
    }
    @include res('md') {
      padding: var(--y-padding) 0;
    }
    text-align: center;
    font-family: var(--accent-font-family);
    font-style: normal;
    word-break: break-word;
    @include res("md") {
      line-height: 0.88;
      font-size: var(--xxl-font-size);
      max-width: 75vw;
    }
    @include res('lg') {
      max-width: 60vw;
    }
    font-size: var(--xxl-font-size-mobile);
    letter-spacing: -0.25rem;
    line-height: 0.95;
  }

  &__products {
    padding: var(--y-padding) 0 !important;
    display: flex;
    gap: var(--base-spacing);
    flex-flow: row wrap;
    justify-content: center;
    @include res("lg") {
      justify-content: space-evenly;
    }

    &_product {
      flex-basis: 18rem;
      flex-shrink: 1;
      display: flex;
      @include headings-common-base();

      &_link {
        display: flex;
        color: var(--dark) !important;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: flex-start;
        padding: var(--base-spacing);
        @include borderHoverBig();
      }

      &_text {
        margin-top: var(--md-spacing);
        font-size: var(--medium-font-size);
        text-align: center;
      }

      & img {
        object-fit: contain;
        width: 100%;
        box-sizing: border-box;
      }
    }
  }
}

.section__hero {
  @include roundedBigTop();
  background: var(--dark);
  width: 100%;
  position: relative;

  &_image {
    @include roundedBigTop();
    width: 100%;
    height: 95vh;
    display: block;
    object-fit: cover;
  }

  .rounded-big {
    position: absolute;
    bottom: 0;
  }
}

.section__text {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  padding: var(--y-padding) 0;
  position: relative;

  &_heading {
    @include res("md") {
      text-align: left;
    }
    text-align: center;
  }

  &__circle {
    display: none;
    @include res("md") {
      display: block;
    }
    position: absolute;
    top: calc(50% - 10rem);
    right: 20%;
    width: 20rem;
    height: 20rem;
    background-color: var(--gray-40);
    border-radius: 100%;
    z-index: -1;
    opacity: 0.5;

    &::after {
      position: absolute;
      content: "";
      bottom: 0;
      right: -1rem;
      width: 8rem;
      height: 8rem;
      background-color: var(--purple);
      border-radius: 100%;
    }
  }
}
