// Home page styling
.home {
  &__products {
    padding-top: var(--md-spacing);
    display: flex;
    gap: var(--base-spacing);
    flex-flow: row wrap;
    justify-content: center;
    @include res("lg") {
      justify-content: space-evenly;
      padding-top: var(--lg-spacing);
    }

    &_product {
      flex-basis: 16rem;
      @include res('md') {
        flex-basis: 18rem;
      }
      @include res('lg') {
        flex-basis: 20rem;
      }
      @include res('xl') {
        flex-basis: 24rem;
      }
      flex-shrink: 1;
      display: flex;

      &_link {
        display: flex;
        color: var(--dark) !important;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: flex-start;
        padding: var(--md-spacing);
        border-radius: var(--big-radius);
        transform: translateY(0);
        transition: transform 0.1s ease-out;
        outline: none;

        &:hover, &:focus {
          background-color: var(--gray-10);
          box-shadow: var(--box-shadow-md);
          transform: translateY(calc(var(--base-unit) - (var(--base-unit) * 2)));
        }
      }

      &_text {
        margin-top: var(--md-spacing);
        font-size: var(--medium-font-size);
        text-align: center;
      }

      & img {
        object-fit: contain;
        width: 100%;
        box-sizing: border-box;
      }
    }
  }
}

.section__text {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  padding: calc(var(--radius) + var(--y-padding)) 0 var(--y-padding) 0;
  position: relative;
  @include roundedBigTop();

  &_heading {
    @include res("md") {
      text-align: left;
    }
    text-align: center;
  }
}
