@import "reset";
@import "fonts";
@import "mixins";
@import "animations";

// Root variables
:root {
  --teal: #82dbd7;
  --gold: #f6cb5a;
  --purple: #553a7b;
  --light: #f0f5f2;
  --dark: #1a171b;
  --grey: #a19ca3;
  --lgrey: #e4e6e4;
  --af: "Virgo 01", sans-serif;
  --mf: "Nunito", sans-serif;

  // Side padding for general alignment
  // Negative margin for nav bar
  // Side margin for nav bar items
  @include res("sm") {
    --y-padding: 5rem;
    --x-padding: 3rem;
  }
  @include res("md") {
    --y-padding: 6rem;
    --x-padding: 2rem;
  }
  @include res("lg") {
    --y-padding: 7rem;
    --x-padding: 5rem;
  }
  @include res("xl") {
    --y-padding: 8rem;
    --x-padding: 6rem;
  }
  @media screen and (max-width: 445px) {
    --y-padding: 2rem;
    --x-padding: 1rem;
  }
  --y-padding: 3rem;
  --x-padding: 2rem;

  // Nav height for page alignment
  @include res("md") {
    --nav-height: 6rem;
  }
  --nav-height: 4rem;

  // Radius for page and sections
  --big-radius: 1.25rem;

  // Small radius for inputs and buttons
  // Padding for inputs and buttons
  --radius: 0.325rem;
  --btn-padding: 2rem;
  --input-padding: 0.5rem;
  --btn-height: 2.5rem;

  // Gap for two-col layouts
  // Gap for generic grid
  @include res('sm') {
    --two-col-gap: 3rem;
  }
  @include res('sm') {
    --two-col-gap: 4rem;
  }
  --two-col-gap: 2rem;
  --grid-gap: 1rem;
  box-sizing: border-box;
}

@import "helpers";
@import "page";
@import "home";
@import "general";
@import "nav";
@import "footer";
@import "product";
@import "button";
@import "cart";
@import "checkout";
@import "about";
@import "stripe";
@import 'faq';
