@import "reset";
@import "fonts";
@import "mixins";
@import "animations";

// Root variables
:root {
  --gray-05: #ffffff;
  --gray-10: #f9f8fa;
  --gray-20: #f3f0f4;
  --gray-30: #e4e0e6;
  --gray-40: #d6cfd8;
  --gray-50: #c6bfc9;
  --gray-60: #b8afba;
  --gray-70: #b8afba;
  --gray-80: #9a8f9e;
  --gray-90: #8b808f;
  --dgray-10: #5a525e;
  --dgray-20: #514a55;
  --dgray-30: #4b414d;
  --dgray-40: #413944;
  --dgray-50: #39313c;
  --dgray-60: #302a33;
  --dgray-70: #29222b;
  --dgray-80: #211b22;
  --dgray-90: #19141a;
  --link: #45576e;
  --link-hover: #283341;
  --link-visited: #553a7b;
  --link-visited-hover: #491845;
  --teal: #82dbd7;
  --gold: #f6cb5a;
  --purple: #553a7b;
  --light: #f9f8fa;
  --dark: #211b22;
  --grey: #8b808f;
  --lgrey: #e4e0e6;
  --red: #8f3342;
  --dark-red: #5b2538;
  --green: #589959;
  --dark-green: #3d6b3e;
  --yellow: #f6cb5a;
  --dark-yellow: #c5a249;
  --heading-font-family: "Nunito", sans-serif;
  --site-font-family: "Nunito Sans", sans-serif;
  --accent-font-family: "Virgo 01", sans-serif;
  --medium-font-size: 1.25rem;
  --default-font-size: 1.1rem;
  --small-font-size: 0.85rem;
  --tiny-text: 0.75rem;
  --letter-spacing: 0.1rem;
  --doc-line-height: 1.75;
  --code-line-height: 1.4;
  --heading-line-height: 1.1;
  --content-block-margin: 1rem;
  --max-line-length-fallback: 45rem;

  // Desktop Typescale
  --xxl-font-size: 4.25rem;
  --xl-font-size: 2.65rem;
  --lg-font-size: 1.9rem;
  --md-font-size: 1.6rem;
  --sm-font-size: 1.25rem;

  // Mobile Typescale
  --xxl-font-size-mobile: 2.75rem;
  --xl-font-size-mobile: 2.065rem;
  --lg-font-size-mobile: 1.85;
  --md-font-size-mobile: 1.65;
  --sm-font-size-mobile: 1.15rem;

  // Layout
  --base-unit: 0.325rem;
  --base-spacing: calc(var(--base-unit) * 4);
  --md-spacing: calc(var(--base-spacing) * 2);
  --lg-spacing: calc(var(--md-spacing) * 2);
  --xl-spacing: calc(var(--lg-spacing) * 2);
  --base-section-spacing: calc(var(--base-spacing) * 2) var(--base-spacing);

  // Side padding for general alignment
  // Negative margin for nav bar
  // Side margin for nav bar items
  @include res("sm") {
    --y-padding: 4rem;
    --x-padding: 3rem;
  }
  @include res("md") {
    --y-padding: 5rem;
    --x-padding: 2rem;
  }
  @include res("lg") {
    --y-padding: 6rem;
    --x-padding: 5rem;
  }
  @include res("xl") {
    --y-padding: 7rem;
    --x-padding: 6rem;
  }
  @media screen and (max-width: 445px) {
    --y-padding: 2rem;
    --x-padding: 1rem;
  }
  --y-padding: 2.75rem;
  --x-padding: 2rem;

  // Nav height for page alignment
  @include res("md") {
    --nav-height: 6rem;
  }
  --nav-height: 4rem;

  // Radius for page and sections
  --big-radius: 1.25rem;

  // Small radius for inputs and buttons
  // Padding for inputs and buttons
  --radius: 0.325rem;
  --btn-padding: 2rem;
  --input-padding: 0.5rem;
  --btn-height: 2.75rem;

  // Gap for two-col layouts
  // Gap for generic grid
  @include res("sm") {
    --two-col-gap: 3rem;
  }
  @include res("md") {
    --two-col-gap: 4rem;
  }
  --two-col-gap: 2rem;
  --grid-gap: 1rem;
  box-sizing: border-box;
  --box-shadow-sm: 0 8px 12px 1px rgba(29, 17, 51, 0.04),
    0 3px 16px 2px rgba(9, 32, 77, 0.12), 0 5px 10px -3px rgba(29, 17, 51, 0.12);
}

@import "helpers";
@import "page";
@import "home";
@import "general";
@import "nav";
@import "footer";
@import "typography";
@import "product";
@import "button";
@import "cart";
@import "checkout";
@import "about";
@import "stripe";
@import "sizing";
@import "contact";
@import "modal";
@import "notification";
@import "lang";
