.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;

  &__text {
    margin: var(--base-spacing) 0;
  }

  &__container {
    color: var(--dark);
    padding: var(--md-spacing);
    border: 2px solid var(--dark);
    border-radius: var(--big-radius);
    background-color: var(--light);
    width: 40rem;
  }

  &_buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }
}
