.nav {
  height: var(--nav-height);
  position: fixed;
  top: 0;
  left: 0;
  background: var(--dark);
  width: 100vw;
  z-index: 10;

  &__nav {
    display: flex;
    align-items: center;
  }

  &__button {
    position: fixed;
    background-color: var(--dark);
    border-radius: var(--radius);
    border: 0.2rem solid var(--teal);
    outline: none;
    top: 0.5rem;
    height: 3rem;
    width: 4rem;
    padding: 0.5rem;
    right: var(--x-padding);
    cursor: pointer;

    &:hover {
      @include easeOut();
      border-color: var(--gold);
    }

    &_bars {
      color: var(--light);
      fill: var(--light);
      height: 100%;
      width: 100%;
    }
  }

  &__mobile {
    @include res("md") {
      display: none;
    }
    display: flex;
    z-index: 50;

    &_items {
      transform: translateX(0);
      transition: transform 0.1s ease-out;
      opacity: 1;
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      background: var(--dark);
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: center;
    }

    &_item {
      font-size: 2rem;
      display: flex;
      justify-content: flex-end;
      width: 100%;
      padding: 0 2rem;

      &:hover ::before {
        content: "• ";
        color: var(--teal);
      }

      &_link {
        letter-spacing: 0.1rem;
        font-weight: 300;
        display: block;
        margin: 1rem 0;
        padding: 2rem;
      }
    }
  }

  &__desktop {
    @include res("md") {
      display: flex;
    }
    display: none;

    &_items {
      padding: 2rem 0;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &_link {
      margin-right: -2rem;
      margin-left: 2rem;
      padding: var(--btn-padding);
      border: 2px solid var(--dark);
      border-radius: var(--radius);
      background: none;
      display: block;
      color: var(--light);
      font-size: 0.9rem;
      text-align: center;
      letter-spacing: 0.1rem;
      font-weight: 600;
      cursor: pointer;
      outline: none;
      position: relative;

      &:hover,
      &:focus {
        border-color: var(--teal);
        @include easeOut();
      }
    }
  }

  &__heading {
    color: var(--light);
    padding: 1rem 0;
    letter-spacing: 0;
    flex-grow: 1;
    font-family: var(--af);
    font-size: 2rem;
    font-style: normal;

    &_link {
      border: 2px solid var(--dark);
      border-radius: var(--radius);

      &:focus {
        outline: none;
        border-color: var(--teal);
      }
      z-index: 0;
      position: relative;

      &::after {
        content: "";
        position: absolute;
        right: -2rem;
        top: 0.43rem;
        color: var(--teal);
        background: var(--teal);
        width: 1.25rem;
        height: 1.25rem;
        border-radius: 100%;
        transform: scale(1);
        @include easeOut();
      }

      &:hover::after,
      &:focus::after {
        animation: 0.2s ease-out forwards circleGrowOne;
        @include easeOut();
      }
    }
  }
}

// Class for hiding and showing mobile menu
.hide {
  transform: translateX(100%) !important;
  transition: transform 0.2s ease-out;
}
