.notification {
  position: fixed;
  @include res("md") {
    bottom: var(--md-spacing);
    right: var(--md-spacing);
  }
  @include res("sm") {
    bottom: var(--base-spacing);
    right: var(--base-spacing);
  }
  bottom: var(--base-unit);
  right: var(--base-unit);
  max-width: calc(100% - var(--base-unit) * 2);
  z-index: 1000;
  padding: var(--base-spacing) var(--md-spacing);
  border-radius: var(--radius);
  box-shadow: var(--box-shadow-sm);
  border: 2px solid transparent;
  outline: none;
  text-decoration: none !important;
  background-color: var(--gray-20);
  border-color: var(--gray-30);
  color: var(--dark) !important;
  @include fadeInUp(0.25s);

  &:hover {
    background-color: var(--gray-30);
  }

  &__close {
    position: absolute;
    top: 0;
    right: 0;
    padding: var(--base-unit);
    margin: 0;
    border: none;
    display: flex;
    background: none;
    color: var(--dark);
    border-radius: var(--radius);
    outline: none;

    &:hover {
      cursor: pointer;
    }
  }

  &__icon {
    height: var(--base-spacing);
    width: var(--base-spacing);
  }

  &__image {
    max-height: 2rem;
  }

  &__content {
    display: flex;
    align-items: center;
    gap: var(--base-spacing);
  }

  &__text {
    margin: 0 !important;
    @include smallSpaced();
    font-weight: 600;
    text-decoration: none !important;
  }

  a {
    color: inherit !important;
  }

  &__prefix {
    border-radius: var(--radius);
    padding: 0 calc(var(--base-unit) * 2);
    margin-left: var(--base-unit);
    display: flex;
    justify-content: center;
    align-items: center;
    @include smallSpacedBold();

    &.green {
      background-color: var(--green);
      color: var(--gray-05) !important;
    }

    &.red {
      background-color: var(--red);
      color: var(--gray-05) !important;
    }
  }
}
