.order {
  &__form__inputs {
    width: 100%;

    label {
      flex-basis: 8rem;

      input {
        width: 100%;
      }
    }
  }

  &__products {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    gap: var(--base-spacing);
    margin: var(--base-spacing) 0 !important;
  }

  &__product {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    @include res("sm") {
      justify-content: space-between;
    }
    width: 100%;
    @include readable-line-length();
    gap: var(--base-spacing);
    padding: var(--base-spacing);
    border-radius: var(--radius);
    border: 2px solid var(--gray-30);
    background-color: var(--gray-20);

    &__quantity {
      display: flex;
      height: 3rem;
      width: 3rem;
      justify-content: center;
      align-items: center;
      padding: var(--base-unit);
      background-color: var(--dark);
      border-radius: 100%;
      color: var(--light);
    }

    &__description {
      color: var(--dgray-20);
      font-weight: 600;
    }

    &__container {
      flex-basis: 24rem;
      flex-grow: 1;
    }

    img {
      flex-basis: 8rem;
      max-height: var(--md-spacing);
      object-fit: contain;
    }

    span {
      margin-top: var(--base-spacing);
      display: block;
      font-weight: 600;
    }
  }

  &__details {
    padding-top: var(--md-spacing);
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-end;
    @include readable-line-length();

    h4 {
      width: 100%;
      margin-bottom: var(--base-spacing);
    }

    address {
      flex-basis: 24rem;
      flex-grow: 1;
    }
  }

  &__methods {
    @include res("md") {
      text-align: right;
      margin-top: auto;
    }
    text-align: left;
    height: 100%;
    margin-top: var(--base-spacing) !important;
  }
}
