.page {
  @include flexCol();
  overflow-x: hidden;
  margin-top: var(--nav-height);
  padding-top: var(--y-padding);
  border-top-left-radius: var(--big-radius);
  border-top-right-radius: var(--big-radius);
  background: var(--light);
  color: var(--dark);
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  flex-grow: 1;

  &__heading {
    width: 100%;
    margin-bottom: var(--content-block-margin);
    @include res("sm") {
      text-align: left;
    }
    text-align: center;
    box-sizing: border-box;
  }

  &__subheading {
    text-align: center;
    @include res("sm") {
      text-align: left;
      font-size: var(--medium-font-size);
    }
    margin-top: -0.5rem;
    letter-spacing: 0.1rem;
    @include dot();
  }

  &__bottom_image {
    @include flexCol();
    @include res("xl") {
      max-height: calc(35vh + var(--y-padding));
    }
    min-height: calc(35vh + var(--y-padding));
    flex-grow: 1;
    flex-shrink: 1;
    position: relative;
    width: 100%;
    background: var(--light);
    border-bottom-left-radius: var(--big-radius);
    border-bottom-right-radius: var(--big-radius);
    overflow: hidden;

    .rounded {
      top: 0;
      left: 0;
      width: 100%;
      height: var(--y-padding);
      border-bottom-left-radius: var(--big-radius);
      border-bottom-right-radius: var(--big-radius);
      background: var(--light);
      position: absolute;
    }

    img {
      flex-grow: 1;
      width: 100%;
      object-fit: cover;
      vertical-align: middle;
      max-height: 50vh;
      margin-bottom: var(--y-padding);
      border-bottom-left-radius: var(--big-radius);
      border-bottom-right-radius: var(--big-radius);
    }
  }
}
