.page {
  @include flexCol();
  overflow-x: hidden;
  margin-top: var(--nav-height);
  padding-top: var(--y-padding);
  border-top-left-radius: var(--big-radius);
  border-top-right-radius: var(--big-radius);
  background: var(--light);
  color: var(--dark);
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  flex-grow: 1;

  &__heading {
    width: 100%;
    margin-bottom: 1.25rem;
    @include res("sm") {
      text-align: left;
      font-size: 3rem;
    }
    text-align: center;
    font-size: 2.5rem;
    box-sizing: border-box;
    letter-spacing: 0.1rem;
  }

  &__subheading {
    text-align: center;
    @include res("sm") {
      text-align: left;
    }
    margin-top: -0.5rem;
    font-size: 1.1rem;
    font-weight: 300;
    letter-spacing: 0.1rem;
  }

  &__h2 {
    margin: 2rem 0;
    text-align: right;
    font-size: 1.5rem;
    font-weight: 300;
    letter-spacing: 0.5rem;
    color: var(--grey);
    position: relative;
    z-index: 0;

    &::before {
      z-index: -1;
      content: "";
      position: absolute;
      right: 0;
      bottom: -0.8rem;
      height: 3rem;
      width: 3rem;
      background-color: var(--lgrey);
      border-radius: 100%;
      opacity: 1;
    }
  }

  &__bottom_image {
    @include flexCol();
    @include res("xl") {
      max-height: calc(35vh + var(--y-padding));
    }
    min-height: calc(35vh + var(--y-padding));
    flex-grow: 1;
    flex-shrink: 1;
    position: relative;
    width: 100%;
    background: var(--light);
    border-bottom-left-radius: var(--big-radius);
    border-bottom-right-radius: var(--big-radius);
    overflow: hidden;

    .rounded {
      top: 0;
      left: 0;
      width: 100%;
      height: var(--y-padding);
      border-bottom-left-radius: var(--big-radius);
      border-bottom-right-radius: var(--big-radius);
      background: var(--light);
      position: absolute;
    }

    img {
      flex-grow: 1;
      width: 100%;
      object-fit: cover;
      vertical-align: middle;
      max-height: 50vh;
      margin-bottom: var(--y-padding);
      border-bottom-left-radius: var(--big-radius);
      border-bottom-right-radius: var(--big-radius);
    }
  }
}
