.product {
  display: flex;
  flex-flow: row wrap;
  padding-bottom: 8rem;
  width: 100%;
  gap: var(--md-spacing);

  &__subheading {
    margin-bottom: var(--md-spacing);
    @include res("sm") {
      margin-bottom: var(--lg-spacing);
    }
  }

  zircus-product-price-text {
    @include res("md") {
      font-size: var(--xl-font-size);
      margin: var(--md-spacing) 0 var(--base-spacing) 0;
    }
    font-size: var(--xl-font-size-mobile);
    width: 100%;
    margin-left: auto;
    text-align: right;
    font-weight: 600;
    display: block;

    span {
      font-style: normal;
      margin-left: auto;
    }
  }

  zircus-product-image {
    flex-basis: 16rem;
    flex-grow: 0.5;
    margin-left: auto;
    margin-right: auto;
    z-index: 15;
    .product__img {
      margin: 0 auto;
      object-fit: contain;
      cursor: pointer;
      width: 100%;
    }
  }

  &__details {
    flex-basis: 32rem;
    flex-grow: 1;
    @include res("md") {
      flex-grow: 0.5;
    }
    @include res("lg") {
      flex-grow: 0.25;
      margin-right: unset;
    }
    @include res("xl") {
      flex-basis: 38rem;
      flex-grow: 0;
    }
    margin-left: calc(var(--x-padding) - (2 * var(--x-padding)));
    margin-right: calc(var(--x-padding) - (2 * var(--x-padding)));
    padding: var(--base-spacing);
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    position: relative;
    background-color: var(--light);
    @include res("sm") {
      border-radius: var(--big-radius);
      padding: var(--md-spacing);
      border: 2px solid var(--dark);
      margin-left: auto;
      margin-right: auto;
    }
    @include res("md") {
      padding: var(--base-spacing);
    }
    @include res("lg") {
      padding: var(--md-spacing);
    }

    hr {
      margin: var(--md-spacing) auto;
    }
  }

  &__inputs {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    flex-flow: row wrap;
    flex-grow: 1;
    gap: var(--base-unit) var(--base-spacing);

    .grow-half {
      flex-grow: 0.5;
      max-width: 6rem;
    }

    .grow {
      flex-basis: 16rem;
      flex-grow: 1;
      flex-shrink: 1;
    }

    &_stock {
      font-size: var(--default-font-size);
      margin-bottom: 0;
    }

    &_buttons {
      display: flex;
      flex-flow: row wrap;
      flex-grow: 1;
      gap: var(--base-unit);

      zircus-add-to-cart-button,
      zircus-router-link {
        flex-grow: 1;
        flex-basis: 11rem;
      }

      zircus-add-to-cart-button button {
        width: 100%;
      }

      a {
        text-decoration: none !important;
      }
    }
  }

  &__description {
    margin-top: 2rem;
    grid-column: 1 2;

    p {
      margin-bottom: 0;
    }

    ul {
      padding-left: var(--base-spacing);
    }
  }
}

.full {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: var(--light);
  z-index: 1000;
  cursor: pointer;

  img {
    max-height: 100vh;
  }
}

.added {
  background-color: var(--gold) !important;
  color: var(--dark) !important;

  &::after {
    background-color: var(--gold) !important;
  }
}
