.sizing {
  &__measurements_heading {
    @include res("sm") {
      font-size: 2.5rem;
      text-align: left;
    }
    text-align: center;
    width: 100%;
    margin-bottom: 2rem;
    margin-top: auto;
  }

  &__measurements {
    margin-top: var(--y-padding);
    background-color: var(--gray-20);
    padding: var(--base-spacing) !important;
    @include roundedBigTop();
    @include roundedBigBottom();
    max-width: 75ch;

    &_list {
      width: 100%;
    }

    li {
      display: flex;
      border-bottom: 2px solid var(--gray-30);
      padding: var(--input-padding);

      &:hover {
        background: var(--gray-30);
      }

      span {
        flex-grow: 1;
      }
    }
  }
}
