.sizing {
  &__measurements {
    margin-top: var(--y-padding);
    @include res('lg') {
      padding: var(--md-spacing);
    }
    max-width: 75ch;

    &_list {
      width: 100%;
    }

    li {
      display: flex;
      border-bottom: 2px solid var(--gray-30);
      padding: var(--input-padding);

      &:hover {
        background: var(--gray-30);
      }

      span {
        flex-grow: 1;
      }
    }
  }
}
