.sizing {
  &__measurements_heading {
    @include res("sm") {
      font-size: 2.5rem;
      text-align: left;
    }
    text-align: center;
    width: 100%;
    margin-bottom: 2rem;
    margin-top: auto;
  }

  &__measurements {
    flex-basis: 16rem;

    &_grid {
      margin-top: var(--y-padding);
      display: flex;
      flex-flow: row wrap;
      gap: var(--two-col-gap);
    }

    &_image {
      object-fit: cover;
      height: 100%;
      width: 100%;

      &_container {
        flex-shrink: 1;
        max-height: 75vh;
        flex-grow: 1;
        flex-basis: 18rem;
      }
    }

    &_list {
      width: 100%;
    }

    li {
      width: 100%;
      display: flex;
      border-bottom: 2px solid var(--gray-30);
      padding: var(--input-padding);

      &:hover {
        background: var(--gray-20);
      }

      span {
        flex-grow: 1;
      }
    }
  }
}
