.lang {
  position: relative;
  display: flex;
  align-items: center;

  &:focus-within, button:focus {
    .lang__list {
      visibility: unset;
      transform: translateY(0) !important;
      transition: all 0.1s ease-out;
    }
  }

  &__list {
    display: flex;
    align-items: center;
    gap: var(--base-unit);
    position: absolute;
    right: 0;
    background-color: var(--gray-05);
    border-radius: var(--radius);
    padding: var(--input-padding) !important;
    box-shadow: var(--box-shadow-sm);
    visibility: hidden;
    min-height: var(--btn-height);

    &.top {
      top: calc(var(--md-spacing) + 0.1rem);
      transform: translateY(-6px);
    }

    &.bottom {
      bottom: calc(var(--md-spacing) + 0.1rem);
      transform: translateY(6px);
    }

    a {
      padding: var(--base-unit);
    }

    a,
    a:hover,
    a:focus,
    a:visited,
    a:visited:hover {
      color: var(--gray-60) !important;
    }

    a.active,
    a.active:hover,
    a.active:focus {
      color: var(--gray-120) !important;
    }
  }
}
