.modal {
  position: fixed;
  padding: var(--base-spacing);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;

  &__text {
    margin: var(--base-spacing) 0;

    &.flex {
      display: flex;
      gap: var(--base-spacing);
      justify-content: space-between;

      span {
        flex-basis: 12rem;
        flex-grow: 1;
        display: block;
      }

      span ~ span {
        text-align: right;
      }
    }
  }

  &__container {
    @include res("md") {
      padding: var(--md-spacing);
    }
    padding: var(--base-spacing);
    border: 2px solid var(--dark);
    border-radius: var(--big-radius);
    background-color: var(--light);
    width: 100%;
    margin: 0 var(--base-unit);
    max-width: 40rem;
    color: var(--dark);
  }

  &__heading {
    margin-bottom: var(--base-spacing);
  }

  &__buttons {
    margin-top: var(--base-spacing);
    display: flex;
    width: 100%;
    justify-content: flex-end;
    flex-flow: row wrap;
    gap: var(--base-spacing);

    .grow {
      flex-basis: 12rem;
      flex-grow: 1;
    }

    button {
      min-width: 12rem;
    }
  }
}
