.notification {
  @include fadeInUp(0.1s);
  @include res("md") {
    bottom: var(--md-spacing);
    right: var(--md-spacing);
  }
  @include res("sm") {
    bottom: var(--base-spacing);
    right: var(--base-spacing);
  }
  bottom: var(--base-unit);
  right: var(--base-unit);
  color: var(--dark);
  max-width: calc(100% - var(--base-unit) * 2);
  position: fixed;
  z-index: 100;
  padding: var(--base-spacing);
  border-radius: var(--radius);
  box-shadow: var(--box-shadow-sm);
  outline: none;
  background-color: rgba(243,240,244,0.95); // var(--light) with 0.9 opacity

  &:hover {
    transition: all 0.1s ease-out;
    background-color: var(--gray-05);
    opacity: 1;
  }

  &__close {
    position: absolute;
    top: 0;
    right: 0;
    padding: var(--base-unit);
    margin: 0;
    border: none;
    display: flex;
    background: none;
    color: var(--dark);
    border-radius: var(--radius);
    outline: none;

    &:hover {
      cursor: pointer;
    }
  }

  &__icon {
    height: var(--base-spacing);
    width: var(--base-spacing);
  }

  &__image {
    max-height: 2rem;
  }

  &__content {
    display: flex;
    align-items: center;
    gap: var(--base-spacing);
  }

  &__text {
    margin: 0 var(--base-spacing) 0 0;
    text-decoration: none;
  }

  &__prefix {
    font-weight: 600;
    border-radius: var(--radius);
    padding: 0 calc(var(--base-unit) * 2);
    margin-left: var(--base-unit);
    display: flex;
    justify-content: center;
    align-items: center;

    &.green {
      background-color: var(--green);
      color: var(--gray-05);
    }

    &.red {
      background-color: var(--red);
      color: var(--gray-05);
    }
  }
}
