.tagline {
  &__heading {
    margin: auto;
    padding: var(--base-spacing) 0;
    @include res("sm") {
      padding: var(--md-spacing) 0;
    }
    @include res("md") {
      padding: var(--y-padding) 0;
    }
    text-align: center;
    font-family: var(--accent-font-family);
    font-style: normal;
    word-break: break-word;
    @include res("md") {
      line-height: 0.88;
      font-size: var(--xxl-font-size);
      max-width: 75vw;
    }
    @include res("lg") {
      max-width: 60vw;
    }
    font-size: var(--xxl-font-size-mobile);
    letter-spacing: -0.25rem;
    line-height: 0.95;
  }
}
