.tagline {
  &__heading {
    max-width: 100%;
    padding: var(--base-spacing) 0;
    @include res("sm") {
      padding: var(--md-spacing) 0;
    }
    text-align: center;
    font-weight: 600;
    @include res("lg") {
      margin: 0 auto;
      max-width: 65vw;
    }
  }
}
