---
layout: withModal
---

<zircus-stripe
  heading="{{ page.label_card_details }}"
  buttontext="{{ page.label_pay_now }}"
  canceltext="{{ page.label_cancel }}"
  id="stripe-payment-modal"
  class="stripe-payment-form"
  success="{{ page.label_success_message }}"
  failure="{{ page.label_failure_message }}"
>
  <p id="stripe-payment-price"></p>
  <p id="result-message" class="result-message hidden">
    {{ page.label_success_message }}
  </p>
  <div id="card-element" class="stripe-payment-form-card">
    <!--Stripe.js injects the Card Element-->
  </div>
</zircus-stripe>
<zircus-payment class="checkout">
  <div class="container">
    <h1 class="page__heading">{{ page.heading }}</h1>
    <form id="checkout-form">
      <div class="checkout__inputs">
        <fieldset id="checkout-address">
          <legend>{{ page.label_address }}</legend>
          <div class="grid-inputs">
            <label for="checkout-name" class="column"
              ><span>{{ page.label_form_name }}</span
              ><input
                type="text"
                name="{{ page.label_form_name }}"
                value=""
                class="input"
                required
                id="checkout-name"
                autocomplete="on"
                minlength="2"
                maxlength="140"
            /></label>
            <label for="checkout-email" class="column"
              ><span>{{ page.label_form_email }}</span
              ><input
                type="email"
                name="{{ page.label_form_email }}"
                value=""
                class="input min-w-15"
                required
                id="checkout-email"
                autocomplete="on"
                minlength="5"
                maxlength="80"
                size="28"
            /></label>
            <label for="checkout-street" class="column"
              ><span>{{ page.label_form_address }}</span
              ><input
                type="text"
                name="{{ page.label_form_address }}"
                value=""
                class="input"
                required
                id="checkout-street"
                autocomplete="on"
                minlength="0"
                maxlength="140"
                size="28"
            /></label>
            <label for="checkout-city" class="column"
              ><span>{{ page.label_form_city }}</span
              ><input
                type="text"
                name="{{ page.label_form_city }}"
                value=""
                class="input"
                required
                size="20"
                id="checkout-city"
                autocomplete="on"
              />
            </label>
            <label for="checkout-state" class="column"
              ><span id="checkout-state-text">{{ page.label_form_state }}</span
              ><select
                autocomplete="on"
                name="{{ page.label_form_state }}"
                value=""
                class="input"
                required
                id="checkout-state"
              ></select>
            </label>
            <label for="checkout-country" class="column"
              ><span>{{ page.label_form_country }}</span>
              <select
                autocomplete="on"
                class="input"
                name="{{ page.label_form_country }}"
                id="checkout-country"
                required
                value=""
              ></select>
            </label>
            <label for="checkout-zip" class="column"
              ><span id="checkout-zip-text" class="max-w-10"
                >{{ page.label_form_zip }}</span
              ><input
                type="text"
                name="{{ page.label_form_zip }}"
                value=""
                class="input max-w-10"
                required
                id="checkout-zip"
                autocomplete="on"
            /></label>
          </div>
        </fieldset>
        <zircus-shipping-inputs>
          <fieldset id="checkout-shipping-inputs">
            <legend>{{ page.label_shipping }}</legend>
          </fieldset>
        </zircus-shipping-inputs>
      </div>
      <div class="flex-col checkout__products__container">
        <template id="checkout-product-template">
          <div class="cart__product">
            <a href="" class="cart__product_flexcon">
              <img src="" alt="" class="cart__product_image" />
              <div class="cart__product_description">
                <p></p>
              </div>
            </a>
          </div>
        </template>
        <div id="checkout-products" class="checkout__products"></div>
        <div class="flex-grow flex-col">
          <div class="checkout__total">
            <ul class="cart__total_prices">
              <li class="cart__total_price">
                <span class="text">{{ page.label_subtotal }}:</span
                ><span
                  class="cart__total_price_item"
                  id="checkout-subtotal"
                ></span>
              </li>
              <li class="cart__total_price">
                <span class="text">{{ page.label_shipping }}:</span
                ><span
                  class="cart__total_price_item"
                  id="checkout-shipping"
                ></span>
              </li>
              <li class="cart__total_price">
                <span class="text">{{ page.label_estimated_tax }}:</span
                ><span class="cart__total_price_item" id="checkout-tax"></span>
              </li>
              <li class="cart__total_price bold">
                {{ page.label_total }}:<span
                  class="cart__total_price_item"
                  id="checkout-total"
                ></span>
              </li>
            </ul>
          </div>
          <div class="checkout__button">
            <button
              class="btn btn__primary"
              type="submit"
              name="Pay with Card"
              id="place-order"
              title="{{ page.label_pay_with_card_title }}"
            >
              {{ page.label_pay_with_card }}
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</zircus-payment>
