---
layout: generic
---

<zircus-contact-form
  success="{{ page.label_success }}"
  failure="{{ page.label_failure }}"
  fields="{{ page.label_fields }}"
>
  <form id="contactForm" class="contact__form">
    <fieldset>
      <legend>{{ page.label_contact }}</legend>
      <label for="contactName" class="label_sm">
        <span>{{ page.label_name }}</span>
        <input
          id="contactName"
          type="text"
          name="name"
          maxlength="80"
          value=""
          class="input"
      /></label>
      <label for="contactEmail" class="label_sm">
        <span>{{ page.label_email }}</span>
        <input
          id="contactEmail"
          type="email"
          name="email"
          value=""
          class="input"
          maxlength="80"
        />
      </label>
      <label for="contactMessage" class="label_lg">
        <span>{{ page.label_message }}</span>
        <textarea
          name="message"
          rows="10"
          class="input"
          id="contactMessage"
          maxlength="500"
        ></textarea>
      </label>
    </fieldset>
    <div class="contact__button">
      <p id="contactSent" class="hidden">{{ page.label_message_sent }}</p>
      <button type="submit" id="contactButton" class="btn btn__primary">
        <span id="contactSpinner" class="spinner hidden"></span>
        <span id="contactButtonText"> {{ page.label_button_text }} </span>
      </button>
    </div>
  </form>
</zircus-contact-form>
