---
layout: generic
---

<zircus-contact-form
  success="{{ page.label_success }}"
  failure="{{ page.label_failure }}"
  fields="{{ page.label_fields }}"
>
  <form id="contact-form" class="contact__form">
    <fieldset>
      <legend>{{ page.label_contact }}</legend>
      <label for="contact-name" class="label_sm">
        <span>{{ page.label_name }}</span>
        <input
          id="contact-name"
          type="text"
          name="name"
          maxlength="80"
          value=""
          class="input"
      /></label>
      <label for="contact-email" class="label_sm">
        <span>{{ page.label_email }}</span>
        <input
          id="contact-email"
          type="email"
          name="email"
          value=""
          class="input"
          maxlength="80"
        />
      </label>
      <label for="contact-message" class="label_lg">
        <span>{{ page.label_message }}</span>
        <textarea
          name="message"
          rows="10"
          class="input"
          id="contact-message"
          maxlength="500"
        ></textarea>
      </label>
    </fieldset>
    <div class="contact__button">
      <p id="contact-sent" class="hidden">{{ page.label_message_sent }}</p>
      <button type="submit" id="contact-button" class="btn btn__primary">
        <span id="contact-spinner" class="spinner hidden"></span>
        <span id="contact-button-text"> {{ page.label_button_text }} </span>
      </button>
    </div>
  </form>
</zircus-contact-form>
