<!DOCTYPE html>
<html lang="{{ page.lang }}">
  {% include head.html %}
  <body>
    <zircus-router>
	  <div id="page">
      <zircus-modal show="false" class="modal hidden">
        <template id="modal-template">
          <h2 aria-hidden="true" id="modal-heading"></h2>
          <div id="modal-content"></div>
          <div id="modal-buttons" class="modal_buttons">
            <button aria-hidden="true" id="modal-ok" class="btn__primary btn">
              <div class="spinner hidden" id="modal-spinner"></div>
              <span id="modal-button-text"></span>
            </button>
            <button
              aria-hidden="true"
              id="modal-cancel"
              class="hidden btn btn__secondary"
            ></button>
          </div>
        </template>
      </zircus-modal>
      {% include nav.html %}
      <div id="blur">
        <main
          id="main-content"
          role="main"
          tabindex="-1"
          class="page"
          pagetitle="{{ page.title }}"
		  lang="{{ page.lang }}"
		  {% assign products=site.products | where:"ref", page.ref | sort:"lang" %}
		  {% for product in products %}
		  {{ product.lang }}="{{ product.url }}"
		  {% endfor %}
		  {% assign pages=site.pages | where:"ref", page.ref | sort:"lang" %}
		  {% for link in pages %}
		  {{link.lang}}="{{ link.url }}"
		  {% endfor %}
        >
          {{ content }} {% include bottom-image.html %}
        </main>
      </div>
      {% include footer.html %} {% include notification.html %}
	</div>
    </zircus-router>
  </body>
</html>
