---
layout: default
---

<div class="container">
  <div class="home__heading_container">
    <h1 class="home__heading">
      <span id="home-heading"></span><span class="teal">.</span>
    </h1>
  </div>
  <ul class="home__products">
    {% assign products=site.products | where:"lang", page.lang %} {% for product
    in products %}
    <li class="home__products_product">
      <a
        class="home__products_product_link"
        href="{{ product.url }}"
        tabindex="0"
        aria-label="Link to {{ product.image_alt }}"
      >
        <img
          src="{{ product.image }}"
          alt="{{ product.image_alt }}"
          title="{{ product.name }}"
        />
        <p class="home__products_product_text">{{ product.name }}</p>
      </a>
    </li>
    {% endfor %}
  </ul>
</div>
<section class="section__hero">
  <img
    id="hero-image"
    class="section__hero_image"
    alt="{{ page.hero_alt }}"
    title="{{ page.hero_title }}"
  />
  <div class="bg-light rounded-big-top absolute b-0 l-0"></div>
</section>
<section class="section__text">
  <div class="section__text__circle"></div>
  <div class="container">
    <h2>{{ page.heading }}</h2>
    {{ content }}
  </div>
</section>
