---
layout: default
---

<div class="container">
  <zircus-tag-line taglines="{{ page.tag_lines }}"></zircus-tag-line>
  <ul class="home__products">
    {% assign products=site.products | where:"lang", page.lang %} {% for product
    in products %}
    <li class="home__products_product">
      <zircus-router-link>
        <a
          class="home__products_product_link"
          href="{{ product.url }}"
          tabindex="0"
          aria-label="{{ product.image_alt }}"
          title="{{ product.name }} - {{ product.description }}"
        >
          <img src="{{ product.image }}" alt="{{ product.image_alt }}" />
          <p class="home__products_product_text">{{ product.name }}</p>
        </a>
      </zircus-router-link>
    </li>
    {% endfor %}
  </ul>
</div>
<zircus-hero-image
  num-images="5"
  image-path="/assets/img/people/hero"
  alt="{{ page.hero_alt }}"
  title="{{ page.hero_title }}"
></zircus-hero-image>
<section class="section__text">
  <div class="section__text__circle"></div>
  <div class="container">
    <h2>{{ page.heading }}</h2>
    {{ content }}
  </div>
</section>
