---
layout: default
---

<div class="container">
  <div class="product__heading_container">
    <h1 class="page__heading">
      <span id="product-name">{{ page.name }}</span>
    </h1>
    <p class="page__subheading">{{ page.description }}</p>
  </div>
  <div class="product">
    <div class="full" id="product-image-full">
      <img
        src="{{ page.image }}"
        alt="{{ page.image_alt }}"
        class="product__img"
        id="product-image-full-image"
        title="{{ page.name }}"
      />
    </div>
    <img
      src="{{ page.image }}"
      alt="{{ page.image_alt }}"
      class="product__img"
      title="{{ page.name }}"
      id="product-image"
    />
    <div id="product-accent" class="product__details">
      <div class="product__details_container">
        <h2 class="product__price">
          <p id="product-stock" class="product__inputs_stock out-stock">
            None available
          </p>
          <span id="product-price-text"></span>
        </h2>
        <form class="product__form">
          <div class="product__inputs">
            <span></span>
            <input type="hidden" id="product-prefix" value="{{ page.type }}" />
            <input
              type="hidden"
              aria-hidden="true"
              id="product-price"
              value="{{ page.price }}"
            />
            <input
              type="hidden"
              aria-hidden="true"
              id="product-default-color"
              value="{{ page.default_color }}"
            />
            <label for="product-quantity"
              ><span>quantity</span>
              <input
                id="product-quantity"
                class="input"
                max="10"
                min="1"
                name="quantity"
                type="number"
                value="1"
                disabled
            /></label>
            <label for="product-size"
              ><span>size</span>
              <select id="product-size" accesskey="z" class="input">
                <option value="xs" name="xs">xs</option>
                <option value="sm" name="sm">sm</option>
                <option selected value="md" name="md">md</option>
                <option value="lg" name="lg">lg</option>
                <option value="xl" name="xl">xl</option>
                <option value="2xl" name="2xl">2xl</option>
                <option value="3xl" name="3xl">3xl</option>
                <option value="4xl" name="4xl">4xl</option>
                <option value="5xl" name="5xl">5xl</option>
                <option value="6xl" name="6xl">6xl</option>
              </select></label
            >
            <label for="product-color"
              ><span>color</span>
              <select id="product-color" class="input" name="color">
                <option value="yellow" name="yellow">yellow</option>
                <option value="teal" name="teal">teal</option>
                <option value="purple" name="purple">purple</option>
                <option value="stripe" name="striped">striped</option>
                <option value="black" name="black">black</option>
              </select></label
            >
          </div>
          <div class="product__inputs_buttons">
            <button
              class="btn btn__primary"
              type="button"
              id="add-to-cart"
              accesskey="a"
              aria-label="Add {{ page.name }} underwear to shopping cart."
              disabled
            >
              <span class="underline">a</span>dd to cart
            </button>
            <button
              class="btn btn__secondary"
              type="button"
              id="go-to-cart"
              name="Go to cart"
              aria-label="Go to shopping cart"
            >
              <span class="underline">c</span>art<span
                id="go-to-cart-qty"
              ></span>
            </button>
          </div>
        </form>
        <div class="product__description">{{ content }}</div>
      </div>
    </div>
  </div>
</div>
