---
layout: default
---

<div class="container">
  <h1 class="page__heading">{{ page.heading }}</h1>
  <p class="page__subheading">{{ page.subheading }}</p>
  <ul class="home__products">
    {% for product in site.products %}
    <li class="home__products_product">
      <a
        class="home__products_product_link"
        href="{{ product.url }}"
        aria-label="Link to {{ product.image_alt }}"
      >
        <img
          src="{{ product.image }}"
          alt="{{ product.image_alt }}"
          title="{{ product.name }}"
        />
        <p class="home__products_product_text">{{ product.name }}</p>
      </a>
    </li>
    {% endfor %}
  </ul>
</div>
