---
layout: default
---

<div class="container page__container">
  <h1 class="page__heading">{{ page.heading }}</h1>
  <p class="page__subheading">{{ page.subheading }}</p>
  <div class="home__products">
    {% assign products=site.products | where:"lang", page.lang %} {% for product
    in products %}
    <zircus-router-link class="home__products_product">
      <a
        class="home__products_product_link"
        href="{{ product.url }}"
        aria-label="{{ product.image_alt }}"
        title="{{ product.name }}"
      >
        <img src="{{ product.image }}" alt="{{ product.image_alt }}" />
        <p class="home__products_product_text">{{ product.name }}</p>
      </a>
    </zircus-router-link>
    {% endfor %}
  </div>
</div>
