---
layout: default
---

<div class="container">
  <h1 class="page__heading">{{ page.heading }}</h1>
  <p class="page__subheading">{{ page.subheading }}</p>
  <ul class="home__products">
    {% assign products=site.products | where:"lang", page.lang %} {% for product
    in products %}
    <li class="home__products_product">
      <zircus-router-link>
        <a
          class="home__products_product_link"
          href="{{ product.url }}"
          aria-label="{{ product.image_alt }}"
          title="{{ product.name }} - {{ product.description }}"
        >
          <img src="{{ product.image }}" alt="{{ product.image_alt }}" />
          <p class="home__products_product_text">{{ product.name }}</p>
        </a>
      </zircus-router-link>
    </li>
    {% endfor %}
  </ul>
</div>
